@{
    ViewBag.Title = "Home Page";
}

<div>
    <h3>Phones SALE!!!</h3>
    <table>
        <tr>
            <td><p>Manufacturer</p></td>
            <td><p>Model</p></td>
            <td><p>Price</p></td>
        </tr>
        @foreach (var phone in ViewBag.Phones)
        {
            <tr>
                <td><p>@phone.Manufacturer</p></td>
                <td><p>@phone.Model</p></td>
                <td><p>@phone.Price</p></td>
                <td><p><a href="/Home/Buy/@phone.Id">Buy</a></p></td>
            </tr>
        }
    </table>
</div>